body{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.outlet{
    width: 75vw;
}

router-outlet{
    align-self: center;
    justify-self: center;
}

