<br>
<mat-card>

    <form (submit)="onSubmitOrder(postForm)" #postForm="ngForm">
    
        <h2>Create Post</h2>

        <mat-form-field appearance="fill">
            <mat-label>Create Post</mat-label>
            <textarea 
                matInput
                cols="30" rows="10"
                maxlength="500"
                required
                ngModel
                name="enteredPost"
                #postEntered = "ngModel"
                placeholder="Post Content"
            ></textarea>
            <mat-hint align="end">{{postEntered.value.length}} / 500</mat-hint>
            <mat-error *ngIf="postEntered.invalid">{{postError}}</mat-error>
        </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Post</button>
    </form>
</mat-card>





